@model GalleryList

<div class="main-content">         
  <div class="page-header">
    <h2>@Model.Title</h2>
    <blockquote>@Model.Teaser</blockquote>
  </div>
  <div class="row">
    <section class="span9" role="main">
      @Html.Sitecore().Controller("Common", "Breadcrumb")
      <ul class="thumbnails">
      @foreach (var item in Model.Galleries.Where(g => g.Images.Length > 0)) {
          <li class="span3">
            <a href="@item.Url" title="@string.Format("{0} ({1} photo{2})", item.Title, item.Images.Length, item.Images.Length > 1 ? "s" : "")" class="thumbnail">
              <img src="@string.Concat(item.Images[0].Src, "?w=260&amp;h=180&amp;as=1&amp;bc=ffffff")" alt="@item.Images[0].Alt" width="260" height="180" />
            </a>
          </li>
      }
      </ul>
    </section>
    <aside class="span3" role="complementary">
    </aside>
  </div>
</div>
